# ==================================================
# Auto detect text files and perform LF
# normalization.
# ==================================================

* text=auto

# ==================================================
# Generic files.
# ==================================================

*.cfg   text    eol=lf
*.CFG   text    eol=lf
*.txt   text    eol=lf
*.TXT   text    eol=lf

# ==================================================
# Texture files.
# ==================================================

*.dds   binary
*.DDS   binary
*.png   binary
*.PNG   binary

# ==================================================
# Binary files.
# ==================================================

*.bin   binary
*.BIN   binary

# ==================================================
# Spreadsheet files.
# ==================================================

*.odt   binary
*.ODT   binary

# ==================================================
# Ignore list (folder and file names).
# ==================================================

Source         export-ignore

.gitattributes export-ignore
.gitignore     export-ignore
*.md           export-ignore
*.MD           export-ignore
